{% extends 'base.html' %}

{% block title %}AutoRevista{% endblock %}

{% block content %}
    <div class="container">
        <h1>Carros</h1>
        <div class="card-grid">

           {% for carro in carros %}
            <div class="card">
                <img src="{{ carro.foto.url }}" alt="Maybach Exelero">
                <div class="card-body">
                    <h5 class="card-title">{{ carro.nome }}</h5>
                    <table>
                        <tr>
                            <th>Marca</th>
                            <td>{{ carro.marca }}</td>
                        </tr>
                        <tr>
                            <th>Ano</th>
                            <td>{{ carro.ano }}</td>
                        </tr>
                    </table>
                    <p><strong>Valor:</strong> US$ {{ carro.valor }},000</p>
                    <p><strong>Descrição: </strong>{{ carro.descrição }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}